requests==2.18.4
troveharvester==0.1.12
pandas==0.22.0
numpy==1.14.2
plotly==2.5.1
Pillow==5.1.0
tinydb==3.8.1.post1
robobrowser==0.5.3
lxml==4.2.1
beautifulsoup4==4.6.0
wordcloud==1.4.1
textblob==0.15.1
